streamlit==1.25.0
opencv-python==4.8.0.76
pandas==1.5.3
librosa==0.12.1
tensorflow==2.14.0
matplotlib==3.8.0
keras==2.14.0
Keras-Preprocessing==1.1.2
lime==0.2.0.1
scikit-image==0.21.0
numpy==1.26.0
